.menu {
  @include dropdown(true);
  > *:first-child {
    cursor: pointer;
  }
  > a,
  .options > a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
  .options {
    background: #FFF;
    border: 1px solid $line;
    border-radius: $radius;
    box-shadow: $shadow;
    box-sizing: border-box;
    min-width: 100%;
    > * {
      display: block;
      padding: $space/6 $space;
      white-space: nowrap;
      @include transition-property(background);
      @include transition-duration($ease);
      &:hover {
        background: $light;
      }
      &.separated {
        border-top: 1px solid $line;
      }
    }
  }
}
