@charset "UTF-8";
img,legend{border:0}
legend,td,th{padding:0}
.select select,a,input:not([type=submit]),textarea{-webkit-transition-duration:.2s;-moz-transition-duration:.2s}
.select,sub,sup{position:relative}
@font-face{font-family:Montserrat;font-style:normal;font-weight:400;src:local('Montserrat-Regular'),url(https://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype')}
@font-face{font-family:Montserrat;font-style:normal;font-weight:700;src:local('Montserrat-Bold'),url(https://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcvEr6Hm6RMS0v1dtXsGir4g.ttf) format('truetype')}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans'),local('OpenSans'),url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype')}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'),local('OpenSans-Bold'),url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype')}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:400;src:local('Open Sans Italic'),local('OpenSans-Italic'),url(https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBp0EAVxt0G0biEntp43Qt6E.ttf) format('truetype')}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:700;src:local('Open Sans Bold Italic'),local('OpenSans-BoldItalic'),url(https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxp_TkvowlIOtbR7ePgFOpF4.ttf) format('truetype')}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,optgroup,strong{font-weight:700}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
sub,sup{font-size:75%;line-height:0;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre,textarea{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
.dropdown>:first-child,.select,.select:after,.select>select,a{cursor:pointer}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
html{font-size:62.5%}
body{margin:0;font-family:"Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:18px;font-size:1.8rem;font-size:18px;font-weight:400;line-height:160%}
#navigation .links a,h1,h2,h3,h4,h5,h6{font-family:Montserrat,"Helvetica Neue",Helvetica,sans-serif}
h1,h2,h3,h4,h5,h6{font-weight:700;line-height:120%;color:#333;margin:0 0 24px}
h1{font-size:48px;font-size:4.8rem}
h2{font-size:32px;font-size:3.2rem}
h3,h4,h5,h6{font-size:24px;font-size:2.4rem}
input,select,textarea{font-family:inherit;line-height:inherit}
input:not([type=submit]),textarea{box-shadow:rgba(0,0,0,.08) 0 1px 0 0 inset}
.select select,input:not([type=submit]),textarea{background:#FFF;border:1px solid #ececec;border-radius:3px;box-sizing:border-box;padding:4px 12px;-webkit-transition-property:background,border;-moz-transition-property:background,border;transition-property:background,border;transition-duration:.2s}
.select select:hover,input:not([type=submit]):hover,textarea:hover{border-color:#bdbdbd}
.select select:active,.select select:focus,input:not([type=submit]):active,input:not([type=submit]):focus,textarea:active,textarea:focus{background:#FFF;border-color:#0074D9;outline:0}
.select select[disabled=disabled],.select select[disabled=true],.select select[disabled],.select select[readonly=readonly],.select select[readonly=true],.select select[readonly],input:not([type=submit])[disabled=disabled],input:not([type=submit])[disabled=true],input:not([type=submit])[disabled],input:not([type=submit])[readonly=readonly],input:not([type=submit])[readonly=true],input:not([type=submit])[readonly],textarea[disabled=disabled],textarea[disabled=true],textarea[disabled],textarea[readonly=readonly],textarea[readonly=true],textarea[readonly]{border-color:#F8F8F8}
.select select[disabled=disabled]:active,.select select[disabled=disabled]:focus,.select select[disabled=disabled]:hover,.select select[disabled=true]:active,.select select[disabled=true]:focus,.select select[disabled=true]:hover,.select select[disabled]:active,.select select[disabled]:focus,.select select[disabled]:hover,.select select[readonly=readonly]:active,.select select[readonly=readonly]:focus,.select select[readonly=readonly]:hover,.select select[readonly=true]:active,.select select[readonly=true]:focus,.select select[readonly=true]:hover,.select select[readonly]:active,.select select[readonly]:focus,.select select[readonly]:hover,input:not([type=submit])[disabled=disabled]:active,input:not([type=submit])[disabled=disabled]:focus,input:not([type=submit])[disabled=disabled]:hover,input:not([type=submit])[disabled=true]:active,input:not([type=submit])[disabled=true]:focus,input:not([type=submit])[disabled=true]:hover,input:not([type=submit])[disabled]:active,input:not([type=submit])[disabled]:focus,input:not([type=submit])[disabled]:hover,input:not([type=submit])[readonly=readonly]:active,input:not([type=submit])[readonly=readonly]:focus,input:not([type=submit])[readonly=readonly]:hover,input:not([type=submit])[readonly=true]:active,input:not([type=submit])[readonly=true]:focus,input:not([type=submit])[readonly=true]:hover,input:not([type=submit])[readonly]:active,input:not([type=submit])[readonly]:focus,input:not([type=submit])[readonly]:hover,textarea[disabled=disabled]:active,textarea[disabled=disabled]:focus,textarea[disabled=disabled]:hover,textarea[disabled=true]:active,textarea[disabled=true]:focus,textarea[disabled=true]:hover,textarea[disabled]:active,textarea[disabled]:focus,textarea[disabled]:hover,textarea[readonly=readonly]:active,textarea[readonly=readonly]:focus,textarea[readonly=readonly]:hover,textarea[readonly=true]:active,textarea[readonly=true]:focus,textarea[readonly=true]:hover,textarea[readonly]:active,textarea[readonly]:focus,textarea[readonly]:hover{background:#F8F8F8;border-color:#F8F8F8}
.select{display:inline-block}
.select>select{-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;background:#FFF}
.select:after{bottom:0;content:'▾';font-size:14px;font-size:1.4rem;line-height:1;pointer-events:none;position:absolute;right:12px;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%)}
.dropdown,body{position:relative}
@media (max-width:640px){html{font-size:57%}
}
@media (min-width:641px){html{font-size:59%}
}
@media (min-width:1025px){html{font-size:62.5%}
}
body{color:#474747}
a{color:#0074D9;text-decoration:none;-webkit-transition-property:color;-moz-transition-property:color;transition-property:color;transition-duration:.2s}
.button,.button.primary{border-radius:3px;-webkit-transition-property:background,border,color;-moz-transition-property:background,border,color;-webkit-transition-duration:.2s;-moz-transition-duration:.2s}
a:hover{color:#0068c3;text-decoration:underline}
p,pre{margin:0 0 24px}
ol,ul{margin:0 0 24px 24px;padding:0}
ol li,ul li{padding:0 0 12px}
blockquote>:last-child,ol ol,ol ul,ul ol,ul ul{margin-bottom:0}
ol ol li,ol ul li,ul ol li,ul ul li{padding:12px 0 0}
small{font-size:12px;font-size:1.2rem}
blockquote{border-left:6px solid #F8F8F8;color:#858585;margin:0 24px 24px;padding-left:24px}
.button,.button.primary,.button.secondary{padding:6px 24px;display:inline-block;outline:0;box-sizing:border-box}
.button{background:#F8F8F8;color:inherit;transition-property:background,border,color;transition-duration:.2s;border:1px solid #dfdfdf;font-size:14px;font-size:1.4rem;text-align:center}
.button:focus,.button:hover{background:#fafafa;color:inherit;text-decoration:none}
.button.active,.button:active{background:#ececec;color:inherit;text-decoration:none}
.button.disabled,.button[disabled=disabled],.button[disabled=true],.button[disabled]{background:#F8F8F8;border-color:#dfdfdf;color:#CCC}
.button.primary{background:#0074D9;color:#FFF;transition-property:background,border,color;transition-duration:.2s;border:1px solid #0068c3}
.button.secondary,.dropdown .options{-webkit-transition-duration:.2s;-moz-transition-duration:.2s}
.button.primary:focus,.button.primary:hover{background:#2689df;color:#FFF;text-decoration:none}
.button.primary.active,.button.primary:active{background:#0068c3;color:#FFF;text-decoration:none}
.button.primary.disabled,.button.primary[disabled=disabled],.button.primary[disabled=true],.button.primary[disabled]{background:#F8F8F8;border-color:#dfdfdf;color:#CCC}
.button.secondary{background:#2ECC40;border-radius:3px;color:#FFF;-webkit-transition-property:background,border,color;-moz-transition-property:background,border,color;transition-property:background,border,color;transition-duration:.2s;border:1px solid #29b83a}
.button.secondary:focus,.button.secondary:hover{background:#4dd45d;color:#FFF;text-decoration:none}
.button.secondary.active,.button.secondary:active{background:#29b83a;color:#FFF;text-decoration:none}
.button.secondary.disabled,.button.secondary[disabled=disabled],.button.secondary[disabled=true],.button.secondary[disabled]{background:#F8F8F8;border-color:#dfdfdf;color:#CCC}
.bundle .button{border-radius:0;border-right-width:0}
.bundle .button:first-child{border-radius:3px 0 0 3px}
.bundle .button:last-child{border-radius:0 3px 3px 0;border-right-width:1px}
.bundle .button.primary,.bundle .button.secondary{border-radius:0;border-right-width:0}
.bundle .button.primary:first-child,.bundle .button.secondary:first-child{border-radius:3px 0 0 3px}
.bundle .button.primary:last-child,.bundle .button.secondary:last-child{border-radius:0 3px 3px 0;border-right-width:1px}
.dropdown{display:inline-block}
.dropdown .options{display:block;margin-top:-3px;opacity:0;position:absolute;top:100%;-webkit-transition-property:margin,opacity;-moz-transition-property:margin,opacity;transition-property:margin,opacity;transition-duration:.2s;visibility:hidden;z-index:999;background:#FFF;border:1px solid #ececec;border-radius:6px;box-shadow:rgba(0,0,0,.05) 0 1px 0 0}
#navigation,#overlay{text-align:center;top:0}
.dropdown .options>*,.select select{-webkit-transition-duration:.2s;-moz-transition-duration:.2s}
.dropdown .options>:hover,.select select{background:#F8F8F8}
.dropdown .options>a{display:block;float:none;white-space:nowrap;width:auto}
.dropdown .options:hover,.dropdown.active .options,.dropdown:hover .options{margin-top:0;opacity:1;visibility:visible}
.dropdown .options>a,.dropdown>a{color:inherit}
.dropdown .options>a:hover,.dropdown>a:hover{text-decoration:none}
.dropdown .options>*{display:block;margin:4px 0;padding:4px 12px;white-space:nowrap;-webkit-transition-property:background;-moz-transition-property:background;transition-property:background;transition-duration:.2s}
.field{margin-bottom:12px}
.field .description{color:#CCC;display:block;font-size:12px;font-size:1.2rem;margin-top:6px}
.label,label{font-size:14px;font-size:1.4rem;display:block;margin:0 0 4px}
.select select{border-radius:3px;box-sizing:border-box;color:inherit;display:inline-block;outline:0;-webkit-transition-property:background,border,color;-moz-transition-property:background,border,color;transition-property:background,border,color;transition-duration:.2s;border:1px solid #dfdfdf;padding:4px 36px 4px 12px}
#modal,#overlay{-webkit-transition-duration:.2s;-moz-transition-duration:.2s}
.select select:focus,.select select:hover{background:#fafafa;color:inherit;text-decoration:none}
.select select.active,.select select:active{background:#ececec;color:inherit;text-decoration:none}
.select select.disabled,.select select[disabled=disabled],.select select[disabled=true],.select select[disabled]{background:#F8F8F8;border-color:#dfdfdf;color:#CCC}
.code,code{background:#F8F8F8;border:1px solid #ececec;border-radius:3px;display:inline-block;font-family:"Lucida Sans Typewriter","Lucida Console",monaco,"Bitstream Vera Sans Mono",monospace;font-size:14px;font-size:1.4rem;line-height:140%;padding:0 6px}
#modal,.notification,.tooltip span{border-radius:3px}
pre .code,pre code{display:block;padding:6px 12px;white-space:pre-wrap}
#modal .body,#modal>.header{padding:18px 24px}
#overlay{bottom:0;left:0;opacity:0;overflow-y:auto;position:fixed;right:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;transition-property:opacity;transition-duration:.2s;visibility:hidden;z-index:1000}
#modal{background:#FFF;box-shadow:rgba(0,0,0,.08) 0 1px 0 0 inset;display:none;margin:96px auto 48px;max-width:600px;width:50%;text-align:left;z-index:3000;-webkit-animation:scale 1s ease-in,slide 2s ease;-moz-animation:scale 1s ease-in,slide 2s ease;animation:scale 1s ease-in,slide 2s ease;-webkit-transition-property:width;-moz-transition-property:width;transition-property:width;transition-duration:.2s}
.notification .close,table tbody tr{-webkit-transition-duration:.2s;-moz-transition-duration:.2s}
#modal>.header{border-bottom:1px solid #ececec}
#modal>.header h2{font-size:inherit;margin:0}
#modal>.header .close{float:right}
#modal .body>:last-child{margin-bottom:0}
#overlay.active,body.modal #overlay{background:rgba(0,0,0,.3);opacity:1;visibility:visible}
#modal.active,body.modal #modal{display:block;width:90%}
.notification{background:#F8F8F8;display:block;margin-bottom:24px;padding:12px 18px}
.notification.error{background:#ffd9d7;color:#FF4136}
.notification.info{background:#cce3f7;color:#0074D9}
.notification.success{background:#d5f5d9;color:#2ECC40}
.notification.undefined{background:#efcff4;color:#B10DC9}
.notification.warning{background:#ffe7d1;color:#FF851B}
.notification>:last-child{margin-bottom:0}
.notification a{color:inherit;text-decoration:underline}
.notification .close,.notification a:active,.notification a:hover{text-decoration:none}
.notification .close{background:0 0;border:0;color:inherit;float:right;opacity:.5;padding:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;transition-property:opacity;transition-duration:.2s}
.notification .close:hover{opacity:1}
table{border-collapse:collapse;border-spacing:0;border:1px solid #ececec;margin:0 0 24px}
table td,table th{border-right:1px solid #F8F8F8;padding:6px 18px}
table td:last-child,table th:last-child{border-right:0}
table td{padding:12px 18px}
table thead{background:#F8F8F8;color:#5c5c5c;font-size:12px;font-size:1.2rem}
table thead th{font-weight:400;white-space:nowrap}
table tbody tr{border-top:1px solid #ececec;-webkit-transition-property:border;-moz-transition-property:border;transition-property:border;transition-duration:.2s}
.tooltip{position:relative}
.tooltip span{background:#333;color:#FFF;font-size:12px;font-size:1.2rem;font-weight:600;line-height:140%;opacity:0;padding:9px 18px;position:absolute;text-align:center;-webkit-transition-property:margin,opacity;-moz-transition-property:margin,opacity;transition-property:margin,opacity;-webkit-transition-duration:.2s;-moz-transition-duration:.2s;transition-duration:.2s;visibility:hidden;white-space:nowrap;width:auto;z-index:999;bottom:100%;left:50%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%)}
.tooltip:hover span{opacity:1;visibility:visible;margin-bottom:8px}
.tooltip span:after{content:'';position:absolute;border-right:5px solid transparent;border-bottom-color:#333;border-top:5px solid #333;border-left:5px solid transparent;bottom:-5px;left:50%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%)}
#navigation{background:#F8F8F8;border-right:1px solid #ececec;bottom:0;box-sizing:border-box;position:fixed;left:0;width:25%}
#navigation .header{margin-bottom:24px;padding:24px}
#navigation .header .credit{font-size:12px;font-size:1.2rem}
#navigation .header .button{width:100%}
#navigation .links a{border-top:1px solid #ececec;color:#333;display:block;font-weight:700;padding:6px 24px}
#content{box-sizing:border-box;margin-left:25%;padding:48px}
#content h2 a{color:inherit}