code,
.code {
  background: $light;
  border: 1px solid $line;
  border-radius: $radius;
  display: inline-block;
  font-family: $code;
  @include font-size($smaller);
  line-height: 140%;
  padding: 0 $space/4;
}

pre {
  code,
  .code {
    display: block;
    padding: $space/4 $space/2;
    white-space: pre-wrap;
  }
}
