.dropdown {
  @include dropdown(true);
  > *:first-child {
    cursor: pointer;
  }
  > a,
  .options > a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
  .options {
    background: #FFF;
    border: 1px solid $line;
    border-radius: 2*$radius;
    box-shadow: $shadow;
    > * {
      display: block;
      margin: $gutter/5 0;
      padding: $gutter/5 $gutter/2;
      white-space: nowrap;
      @include transition-property(background);
      @include transition-duration($ease);
      &:hover {
        background: $light;
      }
    }
  }
}
