.field {
  margin-bottom: $space/2;
  .description {
    color: $grey;
    display: block;
    @include font-size($small);
    margin-top: $space/4;
  }
}

label,
.label {
  @include font-size($smaller);
  display: block;
  margin: 0 0 $space/6;
}

.select {
  select {
    @include button($light, true);
    padding: $space/6 1.5*$space $space/6 $space/2;
  }
}

input,
textarea,
select {
  @include font-size($normal);
}
