html {
  @include breakpoint(mobile) {
    font-size: 57%;
  }
  @include breakpoint(tablet) {
    font-size: 59%;
  }
  @include breakpoint(desktop) {
    font-size: 62.5%;
  }
}

body {
  color: tint($black, 10%);
  position: relative;
}

a {
  cursor: pointer;
  color: $blue;
  text-decoration: none;
  @include transition-property(color);
  @include transition-duration($ease);
  &:hover {
    color: shade($blue, 10%);
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  margin: 0 0 $space;
}

p,
pre {
  margin: 0 0 $space;
}

ul,
ol {
  margin: 0 0 $space $space;
  padding: 0;
  li {
    padding: 0 0 $space/2;
  }
  ul,
  ol {
    margin-bottom: 0;
    li {
      padding: $space/2 0 0;
    }
  }
}

small {
  @include font-size($small);
}

blockquote {
  border-left: $space/4 solid $light;
  color: tint($black, 40%);
  margin: 0 $space $space;
  padding-left: $space;
  > *:last-child {
    margin-bottom: 0;
  }
}
