#overlay {
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  @include transition-property(opacity);
  @include transition-duration($ease);
  visibility: hidden;
  z-index: 1000;
}

// @include animation(scale 1.0s ease-in, slide 2.0s ease);

#modal {
  background: #FFF;
  border-radius: $radius;
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0 0 inset;
  display: none;
  margin: 4*$space auto 2*$space;
  max-width: 600px;
  width: 50%;
  text-align: left;
  z-index: 3000;
  @include animation(scale 1.0s ease-in, slide 2.0s ease);
  @include transition-property(width);
  @include transition-duration($ease);
  > .header {
    border-bottom: 1px solid $line;
    padding: 1.5*$space/2 $space;
    h2 {
      font-size: inherit;
      margin: 0;
    }
    .close {
      float: right;
    }
  }
  .body {
    padding: 1.5*$space/2 $space;
    > *:last-child {
      margin-bottom: 0;
    }
  }
}

body.modal #overlay,
#overlay.active {
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
  visibility: visible;
}
body.modal #modal,
#modal.active {
  display: block;
  width: 90%;
}
