table {
  border: 1px solid $line;
  margin: 0 0 $space;
  th,
  td {
    border-right: 1px solid $light;
    padding: $space/4 1.5*$space/2;
    &:last-child {
      border-right: 0;
    }
  }
  td {
    padding: $space/2 1.5*$space/2;
  }
  thead {
    background: $light;
    color: tint($black, 20%);
    @include font-size($small);
    th {
      font-weight: normal;
      white-space: nowrap;
    }
  }
  tbody {
    tr {
      border-top: 1px solid $line;
      @include transition-property(border);
      @include transition-duration($ease);
    }
  }
}
